<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Mis noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="botonSeleccionado">
    <ion-segment-button value="general">
      <ion-label>GENERAL</ion-label>
    </ion-segment-button>
    <ion-segment-button value="business">
      <ion-label>BUSINESS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="technology">
      <ion-label>TECHNOLOGY</ion-label>
    </ion-segment-button>
    <ion-segment-button value="science">
      <ion-label>SCIENCE</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list *ngFor="let item of listaNoticias">
    <ion-item>
      <ion-checkbox color="primary" slot="start" (ionChange)="check($event, item)"></ion-checkbox>
      <ion-label color="primary" class="ion-text-wrap">
        <h3>{{ item.name}} </h3>
        <p> {{ item.description}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
